body{
	margin: 0px 0px 0px 0px;
	background-color: #00FF00;
	font-family: "Gill Sans", "Courier New", monospace;
}

.site_banner {
	border-bottom: 1px solid black;
	padding: 20px 20px 20px 20px;
	text-align: center;
}

#logo {
	width: 150px;
}

h3 {
	font-family: "Copperplate", "Courier New", monospace;
	font-weight: bold;
	font-size: 30px;
	color: black;
	letter-spacing: 1px;

}

.article {
	max-width: : 900px;
	margin-left: 5%;
	margin-right: 5%;
}

.story_header {
	font-family: Basier, sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 55px;
	margin-bottom: 0px;
	font-family: "Gill Sans", "Courier New", monospace;
}

.byline {
	font-weight: bold;
}

.photo {
	width: 100%;
}

.photo_caption {
	color: black;
	font-size: 14px;
	margin-top: 0px;
}

p{
	font-family: "Gill Sans", "Courier New", monospace;
	font-size: 22px;
}

li {
	font-family: "Gill Sans", "Courier New", monospace;
	font-size: 22px;

}

